[user]
	name = Eli Levit
	email = jediyozh@gmail.com
[core]
	excludesfile = /Users/ila/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[alias]
  mgdev = !git pull origin develop && git merge develop
  resundo = !git reset 'HEAD@{1}'
